<section class="startup">
    <div class="s__fix">
        <div class="s__intro">
            <h1>Weather Profile.<br /><span>Weather forecast web application.</span></h1>
            <p>Detailed forecasts available by city name, state, geographic coordinates <br />or postal/ZIP code.</p>
        </div>
        <div class="s__search">
            <div class="s__search_title">
                <h2>Access current weather data for any location on Earth.</h2>
            </div>
            <div class="s__search_container">
                <!--<input autocomplete="off" class="search_field" name="search" placeholder="State, City, Locality, Zip Code" />-->
                <div class="ng-autocomplete">
                    <form [formGroup]="searchForm" (ngSubmit)="onTextSubmit()" ngNativeValidate>
                        <ng-autocomplete
                            [data]="countries"
                            [searchKeyword]="keyword"
                            placeholder="Country, State, City, Zip Code"
                            (selected)='selectEvent($event)'
                            (inputChanged)='onChangeSearch($event)'
                            historyIdentifier="countries"
                            historyHeading=''
                            [historyListMaxNumber]="3"
                            [itemTemplate]="itemTemplate"
                            formControlName="search"
                            name="Search"
                            >
                        </ng-autocomplete>

                        <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item.name"></a>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                        <button class="search__btn" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="22" height="22" viewBox="0 0 172 172" style=" fill:#000000;">
                            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                <path d="M0,172v-172h172v172z" fill="none"></path>
                                <g style="fill:#5f6368;">
                                <path d="M64.5,14.33333c-27.6214,0 -50.16667,22.54527 -50.16667,50.16667c0,27.6214 22.54527,50.16667 50.16667,50.16667c12.52732,0 23.97256,-4.67249 32.7819,-12.31771l3.05143,3.05143v9.26628l40.03256,40.03256c3.95599,3.95599 10.37733,3.956 14.33333,0c3.956,-3.956 3.956,-10.37733 0,-14.33333l-40.03256,-40.03256h-9.26628l-3.05143,-3.05143c7.64521,-8.80934 12.31771,-20.25458 12.31771,-32.7819c0,-27.6214 -22.54527,-50.16667 -50.16667,-50.16667zM64.5,28.66667c19.87509,0 35.83333,15.95824 35.83333,35.83333c0,19.87509 -15.95825,35.83333 -35.83333,35.83333c-19.87509,0 -35.83333,-15.95825 -35.83333,-35.83333c0,-19.87509 15.95824,-35.83333 35.83333,-35.83333z"></path>
                                </g>
                            </g>
                            </svg>
                        </button>
                        <span *ngIf="loadingFormOne">Searching...</span>
                    </form>
                    <form [formGroup]="llForm" (ngSubmit)="onCoordsSubmit()" ngNativeValidate>
                        <h2>Search by latitude, longitude (India's geo coordinates: 20, 77)</h2>
                        <div class="coords__control">
                            <input formControlName="latitude" name="latitude" placeholder="Latitude" required />
                            <input formControlName="longitude" name="longitude" placeholder="Longitude" required />
                            <button type="submit">Search</button>
                        </div>
                        <span *ngIf="loadingFormtwo">Searching...</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="s__variable">
        <div class="s__info">
            <h1>{{weather.name}}</h1>
            <div class="sub__info"><span class="span">{{todayNumber | date}}</span><span class="span">{{todayDate | date:'shortTime'}} <span>{{currentTemp}}°C</span> </span></div>
        </div>
        <div class="s__details">
            <ul>
                <li><p>Humidity</p> <a>{{weather.other.current.humidity}}%</a></li>
                <li><p>Pressure</p> <a>{{weather.other.current.pressure}} hpa</a></li>
                <li><p>Sunrise</p> <a>{{weather.other.current.sunrise * 1000 | date: 'H:mm'}} IST(GMT +05:30)</a></li>
                <li><p>Sunset</p> <a>{{ weather.other.current.sunset * 1000 | date: 'H:mm'}} IST(GMT +05:30)</a></li>
            </ul>
        </div> 
        <div class="s__chart"><div class="charLineDiv"><canvas #mychart id="chartLine"></canvas></div></div> 
    </div>
</section>
